<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:brewer="http://brewer.project.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
	<head>
		<title>Pesquisa de Usuários</title>
	</head>
	
	<body>
		<section layout:fragment="content">
			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-10">
							<h1>Pesquisa de Usuários</h1>
						</div>
						
						<div class="col-xs-2">
							<div class="aw-page-header-controls">
								<a class="btn  btn-default" th:href="@{/users/new}">
									<i class="glyphicon  glyphicon-plus-sign "></i> <span class="hidden-xs  hidden-sm">Novo usuário</span>
								</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="container-fluid">
				<form method="GET" th:object="${userFilter}" th:action="@{/users}">
					<div class="row">
						<div class="form-group  col-sm-6">
							<label class="control-label" for="name">Nome</label>
							<input type="text" class="form-control" id="name" autofocus="autofocus" th:field="*{name}"/>
						</div>
						
						<div class="form-group  col-sm-6">
							<label class="control-label" for="email">E-mail</label>
							<input type="text" class="form-control" id="email" th:field="*{email}"/>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group  col-sm-12">
							<label class="control-label">Grupos</label> 
							<div>
								<th:block th:each="group : ${groups}">
			  						<div class="checkbox  checkbox-inline"> 
				    					<input type="checkbox" th:value="${group.code}" th:field="*{groups}"/>
				    					<label th:for="${#ids.prev('groups')}" th:text="${group.name}"></label>
			    					</div>
			    				</th:block>
							</div>
		  				</div>
					</div>
					
					<button type="submit" class="btn  btn-primary">Pesquisar</button>
				</form>
				
				<div class="aw-datatable-toolbar">
					<button class="btn btn-default  btn-xs  js-status-btn disabled" data:status="ACTIVATE" data:url="@{/users/status}">
						<span>Ativar</span>
					</button>
					
					<button class="btn btn-default  btn-xs  js-status-btn disabled" data:status="DISABLE" data:url="@{/users/status}">
						<span>Desativar</span>
					</button>
				</div>
		
				<div class="table-responsive  bw-table-simple">
		        	<table class="table  table-hover">
			            <thead>
			            	<tr>
			            		<th class="table-user-col-status">
			            			<div class="checkbox  aw-checkbox-no-margin">
			            				<input type="checkbox" class="js-selection-all"/>
			            				<label></label>
			            			</div>
			            		</th>
			            		<th>Nome</th>
			                	<th>E-mail</th>
			                	<th>Grupo</th>
			                	<th>Status</th>
			                 	<th class="table-col-actions"></th>
							</tr>
						</thead>
					
			            <tbody>
							<tr th:each="user : ${page.content}">
								<td>
									<div class="checkbox  aw-checkbox-no-margin" th:if="${#authentication.principal.user.code != user.code}">
			            				<input type="checkbox" class="js-selection" data:code="${user.code}">
			            				<label></label>
			            			</div>
								</td>
								<td th:text="${user.name}"></td>
								<td th:text="${user.email}"></td>
								<td>
									<span th:each="group : ${user.groups}" th:text="|${group.name}${groupStat.last ? '' : ', '}|"></span>
								</td>
								<td>
									<th:block th:if="${user.active}">
										<span class="label  label-success">Ativo</span>
									</th:block>
									<th:block th:if="${not user.active}">
										<span class="label  label-danger">Inativo</span>
									</th:block>
								</td>
			                 	<td class="text-center">
									<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/users/{code}(code=${user.code})}"> 
										<i class="glyphicon glyphicon-pencil"></i>
									</a>
									<a class="btn  btn-link  btn-xs  js-delete-btn" title="Excluir" href="#"
										    data:url="@{/users/{code}(code=${user.code})}" 
											data:object="${user.name}">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
			                </tr>
			                
			                <tr th:if="${page.empty}">
			                	<td colspan="6">Nenhum usuário encontrado</td>
			                </tr>
			             </tbody>
		         	</table>
		    	 </div>
		    	 
		    	 <brewer:pagination page="${page}"/>
		    	 
			</div>
		</section>
		
		<th:block layout:fragment="javascript-extra">
			<script th:src="@{/javascripts/multi-selection.js}"></script>
		</th:block>
	</body>
</html>